In [1]:
print ("hello world")

hello world

In [2]:
Print ("hello
       python")

SyntaxError: EOL while scanning string literal (<ipython-input-2-56a29397b2ae>, line 1)

In [3]:
print ("hello \
      python")

hello       python

In [10]:
print ('hello\npython')

hello
python

In [11]:
print ('hello\tworld')

hello	world

In [8]:
print ('python's world)

SyntaxError: invalid syntax (<ipython-input-8-5043e0d1e8a5>, line 1)

In [9]:
print ("python's world")

python's world

In [13]:
print ('python\'s world')

python's world


print ("hello\ajupiter") -> to makes sound (to listen sound execute in shell)

In [15]:
print ("hello\ajupiter")

hellojupiter

In [16]:
print ("hello everyone
       i am a 
       python 
       programmer")

SyntaxError: EOL while scanning string literal (<ipython-input-16-5224248fbc54>, line 1)

In [20]:
#use delimiter to print multiple lines->('''s''') or (""""s""")
print ('''hello everyone
i am a 
python 
programmer''')

hello everyone
i am a
python
programmer

In [25]:
name = "xyz"
marks = "90"
age =" 20"
print ("The name of person is " ,name, "marks is", marks, "age is", age)

The name of person is  xyz marks is 90 age is  20

In [26]:
name = "xyz"
marks = 90.867
age = 20
print ("The name of person is %s marks is %f age is %d"%(name,marks,age))

The name of person is xyz marks is 90.867000 age is 20

In [27]:
name = "xyz"
marks = 90.867
age = 20
print ("The name of person is %10s marks is %10f age is %10d"%(name,marks,age))

The name of person is        xyz marks is  90.867000 age is         20

In [29]:
name = "xyz"
marks = 90.867
age = 20
print ("The name of person is %5s marks is %5.2f age is %5d"%(name,marks,age))

The name of person is   xyz marks is 90.87 age is    20

In [31]:
print (f"The name of person is {name} marks is {marks} age is {age}")

The name of person is xyz marks is 90.867 age is 20

In [32]:
print (f"The name of person is {name} marks is {90.8} age is {age}")

The name of person is xyz marks is 90.8 age is 20

# Arithmatic operators

In [33]:
#Power -> **
3**3

27

In [35]:
#Add -> +
5 + 5

10

In [36]:
#Sub -> -
10-5

5

In [40]:
#Divison -> /
10/3

3.3333333333333335

In [38]:
#Modular divison -> %
10%3

1

In [39]:
#Floor divison -> //
10//3

3

In [41]:
#Multiplication
5*3

15

# Comparison Operators

In [42]:
# ==
a = 5
b = 10
a == b

False

In [44]:
c = 10
b == c

True

In [45]:
# <
c < b

False

In [46]:
# >
c > a

True

In [47]:
# <=
b <= c

True

In [48]:
# >=
a >= c

False

In [49]:
# !=
a != b

True

Assignment Operators
    =
    +=
    -=
    *=
    /=
    **=

# Bitwise Operators
     | - Bitwise OR
     & - Bitwise AND
     ~ - Binary one's complement
     ^ - Bitwise XOR operation
     << - Binary Left Shift Operator
     >> - Binary right Shift Operator

In [50]:
a = 240
b = 1
a | b

241

In [51]:
a & b

0

In [52]:
#Binary value
bin(a)

'0b11110000'

In [53]:
bin(b)

'0b1'

# Logical Operators
    And
    Or
    Not

In [54]:
a = 1
b = 20
a > 20

False

In [55]:
a > 20 or 10 > 9

True

In [56]:
a > 20 or b > 9

True

In [59]:
a > 20 and 10 > 9

False

In [61]:
a < 20 and b > 9

True

In [62]:
not 10 < 9

True

In [63]:
not True

False

# Membership Operators
    in
    not in

In [64]:
str = "pythonprogramming"
"a" in str

True

In [65]:
"x" in str

False

In [66]:
"x" not in str

True

# Identity Operators
    is
    is not

In [68]:
a = 10
b = 10
a is b

True

In [69]:
b is a

True

In [70]:
#Memory Location
id(a)

140709060383840

In [71]:
id(b)

140709060383840

True -> Both are using same memory

In [72]:
a = 10.5
b = 10.5
a is b

False

In [73]:
id(a)

1773244849200

In [74]:
id(b)

1773244849224

False -> Both are using different memory

In [79]:
a = 257
b = 257
a == b

True

In [80]:
a is b # -1 to 256 for integer

False