# To know which type of data

In [1]:
a = 10
b = 10.5

type(a)

int

In [2]:
type(b)

float

In [3]:
c = 'hello'
type(c)

str

In [4]:
a = 30.87
b = int(a)
print(b)

30

In [5]:
print(a)

30.87

In [6]:
x = 20
y = float(x)

print(y)

20.0

In [7]:
a = 100
b = str(a)
print (type(b))

<class 'str'>

In [8]:
type(b)

str


# No need to mention data type before any variable

In [9]:
k = 123456789987654321123456789987654321   #their is no limitation in assigning a value to variable
print(k)

123456789987654321123456789987654321

In [10]:
type(k)

int

In [12]:
z = 0.123456789123456789123456789 # prints only 17 demcimal values
print (z)

0.12345678912345678

In [14]:
y = 1234.123456789123456789 # here u already given 4 digits before decimal point, and it prints only 13 demical values
print(y)

1234.1234567891236

In [20]:
x = 123456789.123456789123
print (x)

123456789.12345679

In [22]:
# input function
val = input("Enter a value ")
print(val)

Enter a value hello
hello

In [23]:
print (type(val))

<class 'str'>

In [28]:
val = input("Enter a value ") #input fun takes any value as a stirng
print (val)
print (type(val))

Enter a value 200
200
<class 'str'>

In [29]:
val = int(input("Enter a value ")) 
print (val)
print (type(val))

Enter a value 10
10
<class 'int'>

In [30]:
val = float(input("Enter a value ")) 
print (val)
print (type(val))

Enter a value 10.52
10.52
<class 'float'>

In [33]:
val = int(input("Enter a value ")) 
res = val + 10
print ("value is",val)
print ("res is",res)
print (type(val))

Enter a value 50
value is 50
res is 60
<class 'int'>

In [34]:
val = float(input("Enter a value ")) 
res = val + 10
print ("value is",val)
print ("res is",res)
print (type(val))

Enter a value 10.5
value is 10.5
res is 20.5
<class 'float'>

In [35]:
val = int(input("Enter a value ")) 
res = val + 10
print ("value is",val)
print ("res is",res)
print (type(val))

Enter a value 10.5

ValueError: invalid literal for int() with base 10: '10.5'

In [38]:
val = eval(input("enter the value ")) # eval removes quotes and takes only integer, float values
print(val)

enter the value 10
10

In [39]:
val = eval(input("enter the value ")) 
print(val)

enter the value 10.5
10.5

In [40]:
val = eval(input("enter the value ")) # eval does not take any strings
print(val)

enter the value hii

NameError: name 'hii' is not defined

In [44]:
a = 10
val = eval(input("enter the value ")) #enter a
print(val)

enter the value a
10

In [45]:
b = 10.52
val = eval(input("enter the value ")) #enter b
print(val)

enter the value b
10.52

In [46]:
eval(10)

TypeError: eval() arg 1 must be a string, bytes or code object

In [48]:
eval("10")

10

In [49]:
eval("10.5")

10.5

In [51]:
eval("10*2+5")

25

In [52]:
eval("[1,2]")

[1, 2]

In [57]:
pass1 = input("Enter the pass ") #here u getting done, even if u wrong pass and it is bcoz of incorrect indentation
if pass1 == "ur_password":
    print("welcome")
print("Done")

Enter the pass password
Done

# Statements (if,if...else,if...elif...else,nested if)

In [58]:
#if
pass1 = input("Enter the pass ") 
if pass1 == "ur_password":
    print("welcome")
    print("Done")

Enter the pass ur_password
welcome
Done

In [59]:
#if...else
pass1 = input("Enter the pass ") 
if pass1 == "ur_password":
    print("welcome")
    print("Done")
else:
    print("wrong password")

Enter the pass password
wrong password

In [60]:
pass1 = input("Enter the pass ") 
if pass1 == "ur_password":
    print("welcome")
    print("Done")
print("hii")                #syntax error, becoz should not include any stmt in b/w if and else
else:
    print("wrong password")

SyntaxError: invalid syntax (<ipython-input-60-c373cd1d0b43>, line 6)

In [63]:
#if...elif
num1 = eval(input("Enter the marks"))
print (num1)
grade = " "
if num1>=90:
    grade = "A";
elif num1>=80:
    grade = "B";
elif num1>=70:
    grade = "C";
elif num1>=60:
    grade = "D";
else :
    grade = "F";
print (f"The marks is {num1} and grade is {grade}")

Enter the marks90
90
The marks is 90 and grade is A

In [66]:
#range: [start:stop:step]

range(10)

range(0, 10)

In [67]:
list(range(10)) # 10 excluded

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [70]:
list(range(5,20,2))

[5, 7, 9, 11, 13, 15, 17, 19]

In [72]:
list(range(5,20,-2))

[]

In [73]:
list(range(5,-20,-2))

[5, 3, 1, -1, -3, -5, -7, -9, -11, -13, -15, -17, -19]

# Loops

In [74]:
for each in range(5):
    print(each)

0
1
2
3
4

In [75]:
for each in range(5):
    print(each, end=" ")    #print in horizontal

0 1 2 3 4

In [76]:
str = "pythonprogramming"
for each in str:
    print(each, end=",")

p,y,t,h,o,n,p,r,o,g,r,a,m,m,i,n,g,

In [77]:
list = [1,2,3,4]
for each in list:
    print(each)

1
2
3
4

In [78]:
#sum

sum = 0
for x in range(1,11):
    sum = sum + x
    print(sum)
print("sum of number is", sum)

1
3
6
10
15
21
28
36
45
55
sum of number is 55

In [80]:
sum = 0
for x in range(1,11):
    sum = sum + x
    print(x,"--->", sum)
print("sum of number is", sum)

1 ---> 1
2 ---> 3
3 ---> 6
4 ---> 10
5 ---> 15
6 ---> 21
7 ---> 28
8 ---> 36
9 ---> 45
10 ---> 55
sum of number is 55

# While Loop

In [1]:
pass1 = input("Enter the pass ")
while pass1!="mypassword":
    print("wrong password")
    pass1 = input("Enter the password again ")
print("welocome")

Enter the pass mypassword
welocome

In [3]:
sum1 = 0
while True:
    num1 = int(input("Enter the number "))
    sum1 = sum1 + num1
    print (sum1)
    if num1 == 0:
        break
print("Final sum is", sum1)

Enter the number 10
10
Enter the number 20
30
Enter the number 30
60
Enter the number 40
100
Enter the number 50
150
Enter the number 60
210
Enter the number 0
210
Final sum is 210

In [4]:
# This one way without using break stmt
sum1 = 0
flag = 1
while flag == 1:
    num1 = int(input("Enter the number"))
    sum1 = sum1 + num1
    print (sum1)
    if num1 == 0:
        flag = 0
print("Final sum is", sum1)

Enter the number10
10
Enter the number20
30
Enter the number30
60
Enter the number40
100
Enter the number50
150
Enter the number60
210
Enter the number0
210
Final sum is 210

In [8]:
str1 = "TheAvengers"
for each in str1:
    print(each)

T
h
e
A
v
e
n
g
e
r
s

In [9]:
str1 = "TheAvengers"
for each in str1:
    if each == "A":
        break
    print(each)

T
h
e

In [10]:
list1 = [1,2,3,4,5]
for each in list1:
    print (each)

1
2
3
4
5

In [11]:
list1 = [1,2,"a",3,4,5] #list is a heterogenious kind of data structure, it can contain string,float,int... 
for each in list1:
    print (each)

1
2
a
3
4
5

In [13]:
list1 = ["rahul","jadeja","dhoni"] 
for each in list1:
    print (each)

rahul
jadeja
dhoni

In [14]:
list1 = ["rahul","jadeja","dhoni"] 
for each in list1:
    if each == "jadeja":
        continue
    print (each)

rahul
dhoni